body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

img{
    display: block;
}

/*-------------- Header --------------*/

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.header-menu-button{
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-button:hover,
.header-menu-button:focus {
    fill: #404bbf;
}

.header-logo{
    padding: 16px 0;
    margin-right: auto;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{

}

.header-nav{
    display: flex;
    align-items: center;
}

.header-lsit{
    display: none;
    align-items: center;
    gap: 40px;
}

.address-list{
    display: none;
    align-items: center;
    gap: 40px;
}

.header-list-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.address-item-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

.current{ 
    position: relative;
    color: #404bbf;
}

/* .current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -2px;
    left: 0;
} */

.header-list-item{
    color: #404bbf;
}

        /*-------------- Mobile menu --------------*/

.mob-menu .container{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.menu-centr-block {
    flex-grow: 1;
}


.mob-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    padding-top: 72px;
}

.mob-menu-list{
    display: flex;
    flex-direction: column;
    gap: 40px;

}



.mob-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-current {
    color: #404bbf;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404bbf;
}

.menu-contacts{
    font-style: normal;
    margin-top: 168px;
}

.menu-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-item-link:hover,
.menu-address-item-link:focus {
    color: #404bbf;
}

.menu-address-current{
    color: #404bbf;
}

.menu-container-list{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    max-width: 280px;
}

/*-------------- Hero --------------*/
.hero{
    background: #2e2f42;
    padding: 72px 0 72px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
    url(../images/hero_img_for_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
    background-size: cover;
}

@media screen and (min-resolution: 2x) {
    .hero{
        background-image: linear-gradient(to bottom,
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
        url(../images/hero_img_for_mobile_2x.jpg);
    }

    
}

.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
}

.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border: 0px;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
}


.menu-modal-button {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 25px;
    right: 22px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-modal-button:hover,
.menu-modal-button:focus {
    background-color: #404BBF;
    border: none;
}



/*-------------- benefits --------------*/

.benefits {
    padding: 96px 0;
        
    
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    column-gap: 0;

}

.benefits-list-items {
    width: 100%;
}

.benefits-list-container{
    display: none;
}

.benefits-list-img{
    
}

.benefits-items-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-items-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------------- ourteam --------------*/

.ourteam {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.ourteam-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px ;
}

.ourteam-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.ourteam-list-item {
    max-width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.ourteam-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.ourteam-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.ourteam-list-container{
    padding: 32px 0;
}

.ourteam-item {}

.ourteam-container-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ourteam-container-item {
    width: 40px;
    height: 40px;
}

.ourteam-container-item-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-container-item-link:hover,
.ourteam-container-item-link:focus{
    background-color: #404bbf;
}

.ourteam-container-svg {
    fill: #f4f4fd;
}

/*-------------- ourportfolio --------------*/

.ourportfolio {
    padding: 96px 0;
}

.ourportfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom:72px;
}

.ourportfolio-list {
    display: flex;
    gap: 48px 24px; 
    flex-wrap: wrap;
}

.ourportfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: ((100% - 72px) / 3);
}

.ourportfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourportfolio-list-container{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px
}

.ourportfolio-cover-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-list-item:hover .ourportfolio-cover-text{
transform: translateY(0);
}

.ourportfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.ourportfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom:8px;
}

.ourportfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/*-------------- footer --------------*/

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.logo {}

.footer-logo{
    display: inline-block;
    margin-bottom: 17.5px;
}

.footer-main-content{
    display: flex;
    margin-bottom: 72px;
    flex-direction: column;
    align-items: center;
}

.footer-logo-part {
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.footer-social-nav{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-list{
    gap: 16px;
}

.footer-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus{
    background-color: #31d0aa;
}

.footer-subscribe-wrap {
    
}



.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    width: 288px;
}

.footer-input::placeholder{
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 165px;
    height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-button-img{
    margin-left: 16px;
    fill: #fff;
}

/* ------- Modal window -------*/

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 623px;
    width: 288px;
    background-color: #FCFCFC;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button{
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
    background-color: #404BBF;
    border: none;
}


.button-img{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .button-img,
.modal-button:focus .button-img{
    fill: #ffffff;
}

.model-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.form-label{
    display: block;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-wrap{
    margin-bottom: 8px;
}

.modal-input-wrap-comment{
    margin-bottom: 16px;
}

.modal-wrap-container{
    position: relative;
}

.modal-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-input-icon{
    fill: #4D5AE5;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.modal-textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-policy{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}

.modal-checkbox {}


.modal-checkbox-lable {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.modal-checkbox-item{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.modal-checkbox:checked + label .modal-checkbox-item {
    background-color: #404BBF;
    fill: #F4F4FD;;
    border: none;
}

.modal-checkbox-lable-text {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-submit-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {

    .container{
        max-width:  768px;
        padding: 0 16px;
    }

    /*-------------- header --------------*/

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu-button {
         display: none;
    }


    .header-lsit {
        display: flex;
        align-items: center;
        padding: 24px 0;
        gap: 40px;

    }

    .current::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        bottom: -4px;
        left: 0;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;


    }   

    .address-item-link{
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #434455;
    }

    /*-------------- Hero --------------*/

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .hero {
        padding: 112px 0 112px;
        max-width: 1157px; 
        margin: 0 auto;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office_tab.jpg);
    }

    @media screen and (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office_tab_2x.jpg);
        }
    }

    .hero-button{
    margin-top: 36px;
    }


    /*-------------- benefits --------------*/

    .benefits {
        padding: 96px 0;
    }

    .benefits-items-title {
        text-align: left;
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .benefits-list-items {
        width: calc((100% - 24px) / 2);
    }
    
    /*-------------- ourteam --------------*/

    .ourteam {
        background-color: #f4f4fd;
        padding: 96px 0;
    }

    .ourteam-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ourteam-list-item {
        background-color: #fff;
        width: calc((100% - 24px) / 2);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    /*-------------- Footer --------------  */
    .footer {
        padding: 96px 0 93px 93px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-main-content {
        max-width: 264px;
        display: block;
        margin-right: 24px;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-input {     
        width: 264px;
    }

    .footer-social-nav{
        display: block; 
    }

    .footer-social-title{
        text-align-last: left;
    }

    .footer-form-text{
        text-align: left;
    }


    /*-------------- backdrop --------------*/

    .modal{
        min-height: 584px;
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .modal-input{
        padding-left: 34px;
    }
    
    .modal-checkbox-lable {
        display: block;
    }
}

@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    /*-------------- header --------------*/

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-menu-button {
        display: none;
    }

    .contacts {
        margin-left: auto;
    }

    .header-lsit {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    .header-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .address-list {
        display: flex;
    }    

     /*-------------- benefits --------------*/

    .benefits-list {
        flex-direction: row;
        gap: 24px;
    }

    .benefits-list-items {
        width: calc((100% - 72px) / 4);
    }
    
    .benefits {
        padding: 120px 0;
    }

    .benefits-list-container {
        width: 100%;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .benefits-items-title {
        text-align-last: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .benefits-items-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.0196em;
    }

        /*-------------- ourteam --------------*/

    .ourteam {
        background-color: #f4f4fd;
        padding: 120px 0;
    }

    .ourteam-list {
        flex-direction: row;
        gap: 24px;
    }

    .ourteam-list-item {
        background-color: #fff;
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

        /*-------------- Hero --------------*/

    .hero{
        padding: 188px 0 188px;
        max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .hero-button {
        margin-top: 48px;
        padding: 16px 32px;
        min-width: 169px;
        cursor: pointer;
        box-shadow: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*-------------- ourportfolio --------------*/  

    .ourportfolio {
        padding: 120px 0;

    }

    /*-------------- Footer --------   */

    .footer {
        background-color: #2e2f42;
        padding: 100px 0;
    }

    .footer-container{
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
        border: 1px solid #fff;
        opacity: 1;
    }

    .footer-input::placeholder {
        color: #ffffff;
    }


    .footer-text {
        width: 264px;
        
    }

    .footer-subscribe-wrap {
        margin-left: 80px;
    }

    .footer-main-content {
        margin-right: 120px;
        margin-bottom: 0px;
        display: block;
    }

    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-social-nav {
        margin-bottom: 0;
        display: block;
    }

    .footer-social-title {
        text-align: left;
    }

    .footer-form-text {
        text-align: left;
    }

        .footer-button{
        min-width: 165px;
    }


        
    /*-------------- backdrop --------------*/

    .backdrop {
        box-shadow: none;
    }

    .modal {
        min-height: 584px;
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    
    .modal-checkbox-lable {
        display: block;
    }

    .modal-checkbox-lable-text {
        margin-left: 4px;
    }
}